.ant-menu-item-selected {
  background-color: transparent !important;
}
.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent !important;
}
.ant-layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  cursor: pointer;  
  transition: transform 0.3s ease; 
}

