/* General Styles */
#link {
  text-decoration: none;
}

#margin {
  margin: 2px;
}

i {
  text-align: center;
  background-color: aqua;
}

p {
  cursor: pointer;
}

.no-underline {
  text-decoration: none;
}

.bg-dark {
  background-color: #343a40;
}

/* Footer styles */
.footer-container {
  text-align: center;
  color: white;
  background-color: #2D3748;
  padding: 20px 0;
}

.footer-container p {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.footer-text {
  color: white;
  font-size: 14px;
}

/* For large screens (desktops and above) */
@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .text-white {
    font-size: 18px;
  }

  .text-light {
    font-size: 18px;
  }

  .text-dark {
    font-size: 18px;
  }

  .bg-light {
    padding: 12px;
  }

  .p-2 {
    padding: 12px;
  }

  .footer-container p {
    font-size: 20px;
  }
}

/* For medium screens (tablets) */
@media (min-width: 430px) and (max-width: 1023px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .text-white {
    font-size: 16px;
  }

  .text-light {
    font-size: 16px;
  }

  .text-dark {
    font-size: 16px;
  }

  .bg-light {
    padding: 10px;
  }
}

/* For small screens */
@media (max-width: 430px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .text-white {
    font-size: 12px;
  }

  .text-light {
    font-size: 12px;
  }

  .text-dark {
    font-size: 12px;
  }

  .bg-light {
    padding: 12px;
  }

  .service p {
    margin: 2px;
  }

  .service h4 {
    margin: 0px;
  }

  .no-underline {
    text-decoration: none;
  }
}

/* For extra small screens */
@media (max-width: 230px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 5px;
  }

  .text-white {
    font-size: 10px;
  }

  .text-light {
    font-size: 10px;
  }

  .text-dark {
    font-size: 10px;
  }

  .bg-light {
    padding: 3px;
    font-size: 10px;
  }

  .p-2 {
    padding: 6px;
  }

  #margin {
    margin: 5px 0;
  }

  .footer-container p {
    font-size: 8px;
    padding: 2px 0;
    text-align: center;
    margin-top: 10px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid > div {
    margin-bottom: 10px;
  }
}
