#link{
    text-decoration: none;
}

#margin{
    margin: 2px;
}

i {
    text-align: center;
    background-color: aqua;
}

p{
    cursor: pointer;
}

.no-underline {
    text-decoration: none;
  }
  